.App {
  background-image: url("image.jpg");
  border-style: double;
  border-color: blue;
  border-radius: 12px;
  min-height: 900px;
}

.App-header {
  font-size: xx-large;
  color: gold;
  padding: 10px;
  text-align: right;
}
.icon {
  text-align: right;
  padding: 10px;
}
.card-text {
  color: aqua;
}

.card-title {
  color: aliceblue;
  font-weight: 400;
  font-size: 30px;
}
.display {
  margin: 30px;
  background-color: rgba(199, 232, 189, 0.511);
}
