.App {
  background-image: url("image.jpg");
  border-style: double;
  border-color: blue;
  border-radius: 12px;
  min-height: 900px;
}

.App-header {
  font-size: xx-large;
  color: gold;
  padding: 10px;
  text-align: right;
}
.sub-header {
  color: rgb(0, 255, 136);
  margin: 0 60px;
  padding: 10px;
  text-align: right;
}
.icon {
  text-align: right;
  padding: 10px;
}
.card-text {
  color: aqua;
}

.card-title {
  color: aliceblue;
  font-weight: 400;
  font-size: 30px;
}
